
  article{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;

    section{
      display: flex;
      flex-flow: column;
      justify-content: center;

      padding: 0em 3em;

      img{
        width: 9em;
        height: 10em;
      }
    }
  }