<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Blog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Loose in the Sky!</h1>
  <img
    src="../../../assets/edifici.jpeg"
    alt=""
  />
  <p>
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
    veritatis et quasi architecto beatae vitae dicta sunt explicabo.
  </p>

  <h2>
    Comments:
    <div class="linea"></div>
  </h2>

  <article>
    <section *ngFor="let element of comentaris">
      <div>
        <h3>{{ element.nom }}</h3>
        <p>{{ element.data }}</p>
      </div>
      <p>{{ element.comentari }}</p>
    </section>
  </article>

  <article>
    <section>
      <h1>
        Add your comment
        <div class="linea"></div>
      </h1>
    </section>
    <section>
      <h1>Name:</h1>
      <input type="text" />

      <h1>Description:</h1>
      <textarea name="" id="" cols="30" rows="5"></textarea>

      <button>Submit</button>
    </section>
  </article>
</ion-content>
